<ion-header>
  <ion-toolbar>
    <!--Menú-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!--Botones-->
    <ion-buttons slot="end" *ngIf="gestor">
      <ion-button (click)="modificarPartitura()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Repertorio</ion-title>
  </ion-toolbar>

  <!--Barra de búsqueda-->
  <ion-searchbar debounce="100" placeholder="Buscar en el repertorio" (ionChange)="buscar($event)"></ion-searchbar>

  <!--Select de tipo-->
  <ion-item>
    <ion-label position="floating" color="tertiary">Tipo</ion-label>
    <ion-select [(ngModel)]="tipo" (ionChange)="cambioTipo($event)" interface="popover" cancelText="Cancelar"
      okText="Aceptar">
      <ion-select-option value="todo">Todo</ion-select-option>
      <ion-select-option value="bso">BSO</ion-select-option>
      <ion-select-option value="marcha">Marchas</ion-select-option>
      <ion-select-option value="pasodoble">Pasodobles</ion-select-option>
      <ion-select-option value="pasacalles">Pasacalles</ion-select-option>
      <ion-select-option value="obra">Obras</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content *ngIf="gestor">
  <!--Vista administrador-->
  <ion-list *ngFor="let partitura of repertorioMuestra | filtro: textoBuscar: 'titulo' : 'autor'">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              {{partitura.titulo}} - {{partitura.autor}}
            </ion-col>
            <!--Enlace vídeo/audio-->
            <ion-col size="1">
              <button ion-button icon-only (click)="enlace(partitura,1)">
                <ion-icon name="play-outline"></ion-icon>
              </button>
            </ion-col>
            <!--Enlace partitura-->
            <ion-col size="1">
              <button ion-button icon-only (click)="enlace(partitura,2)">
                <ion-icon name="download-outline"></ion-icon>
              </button>
            </ion-col>
            <!--Modificar partitura-->
            <ion-col size="1">
              <button ion-button icon-only (click)="modificarPartitura(partitura)">
                <ion-icon name="pencil-outline"></ion-icon></button></ion-col>
            <!--Borrar partitura-->
            <ion-col size="1">
              <button ion-button icon-only (click)="confirmar(partitura)">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<!--Vista normal-->
<ion-content *ngIf="!gestor">
  <ion-list *ngFor="let partitura of repertorioMuestra | filtro: textoBuscar: 'titulo'">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              {{partitura.titulo}} - {{partitura.autor}}
            </ion-col>
            <!--Enlace vídeo/audio-->
            <ion-col size="1">
              <button ion-button icon-only (click)="enlace(partitura,1)">
                <ion-icon name="play-outline"></ion-icon>
              </button>
            </ion-col>

            <!--Enlace partitura-->
            <ion-col size="1">
              <button ion-button icon-only (click)="enlace(partitura,2)" *ngIf="globalUsu.musico!=undefined">
                <ion-icon name="download-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>