/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

button{
    background-color: #2a2a2a;
}

ion-icon,ion-menu-button{
    color: #008c2b;
}

ion-card-title, ion-title{
    font-family: Garamond;
}

input, textarea {
    background-color: #979494;
  }

.monthview-selected {
	background: #008c2b !important;
}

.monthview-secondary-with-event{
    background: #008c2b !important;
}

.monthview-current{
    background: #979494 !important;
}

.app-alert .alert-wrapper{
    .alert-button-inner{
      color:#008c2b;
    }
  }

  ion-checkbox {
    --background-checked: #008c2b;
    border-color: #008c2b;
  }


  ion-alert {
    // checkbox or radio button color
    .alert-radio-inner.sc-ion-alert-md {
      background-color: #008c2b !important;
      border-color: #008c2b;
    }
  
    // Button color
    .alert-button-inner.sc-ion-alert-md {
      color: #008c2b;
    }

      // checkbox border color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: #008c2b;
  }
  }



